.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.tfstate.lock.info
examples/cc-rubrik-poc-test/backend.hcl
cc-rubrik-poc-test.sh
checkov-and-sonar-scan.yaml
.terraform.lock.hcl
*.hcl