bucket       = "cc-rubrik-poc-test-tfstate-opensearch"
key          = "opensearch/example/terraform.tfstate"
region       = "eu-west-2"
profile      = "CCRubrikPOCTest"
encrypt      = true
use_lockfile = true
